body {

    background-color: rgb(249, 251, 255);

}



h1 {

    color: black;

    text-align: center;

}



p {

    font-family: verdana;

    font-size: 15px;

}



nav {

    background-color: rgb(42, 54, 56);
	
	padding: 5px;
	
	position: relative;
	
	overflow: hidden;

	border-radius:10px;

	border-bottom:5px solid;

	border-bottom-color:rgb(70, 70, 70);

	border-top:5px solid;

	border-top-color:rgb(70, 70, 70);

}
div.wrapper {
	margin: 0;
}

nav li{

	display: inline;

}

nav li.login {
	float: right;
	
}

div.links{
	position:relative;
}

nav ul li a {

	list-style-type: none;

    color: rgb(244, 244, 244);

    text-align: center;

    padding: 14px 16px;

    font-size: 17px;

	text-decoration:none;

}

nav ul li a:hover {

    background-color: rgb(167, 224, 232);

    color: black;

}

nav ul li.login a:hover {

    background-color: rgba(255, 255, 255, .1);
	
	color: white;

}

nav ul li a.active {

    background-color: rgb(98, 111, 142);

    color: white;

}

div.main{

	margin:14px;

	background-color: rgba(144, 153, 155, .2);

	border-radius: 5px;

	border: 2px solid;

	border-top-color: rgba(174, 183, 185, 1);

	border-left-color: rgba(174, 183, 185, 1);

	border-right-color: rgba(144, 153, 155, 1);

	border-bottom-color: rgba(144, 153, 155, 1);

	padding:15px;

}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

input[type=email], select, textarea {
    width: 50%;
    padding: 12px 20px 12px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
}

input[type=number], select, textarea {
    width: 50%;
    padding: 12px 20px 12px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
}

textarea {
	width: 55%;
	height:80px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
	margin:5%;
	position:relatives;
}

input[type=submit] {
    background-color: #3D4F61;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    float: left;
}




button {
	background-color: rgb(110, 120, 152);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	border-radius:10px;
}

button:hover{
	opacity: 0.8;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
	padding-top: 60px;
	
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid blue;
	width: 80%;
}

.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus{
	color:red;
	cursor:pointer;
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {from { -webkit-transform: scale(0); } to { -webkit-transform: scale(1);}}
@keyframes animatezoom{from {transform:scale(0);} to {transform:scale(1);}}